{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Log In</h1>
    <hr>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {% if form.username.erros %}
                {{ form.username(size=32, placeholder=form.username.errors[0]) }}<br>
            {% else %}
                {{ form.username(size=32)}}<br>
            {% endif %}
        </p>
        <p>    
            {{ form.password.label }}<br>
            {% if form.password.erros %}
                {{ form.password(size=64, placeholder=form.password.errors[0]) }}<br>
            {% else %}
                {{ form.password(size=64)}}<br>
            {% endif %}
        </p>    
        <p> {{ form.submit() }}</p>
    </form>

{% endblock %}